<div class="contact-wrapper">
  <div class='container'>
    <h1 id="contact" class="text-center">Let's Keep In Touch</h1>

    <%= form_for(@user) do |f| %>
    <form>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
         <div class="form-group">
            <%= f.label :name, { class: "control-label"} %>
            <%= f.text_field :name, {class: 'form-control', placeholder: "Name"} %>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :company, { class: "control-label" } %>
          <%= f.text_field :company, { class: 'form-control', placeholder: "Company" } %>
        </div>
      </div>
    </div>
     <div class="row">
       <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :email, { class: "control-label" } %>
          <%= f.text_field :email, { class: 'form-control', placeholder: "Email" } %>
        </div>
       </div>
       <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :phone, { class: "control-label" } %>
          <%= f.text_field :phone, { class: 'form-control', placeholder: "Email" } %>
        </div>
       </div>
     </div>
    <div class="row">
      <div class="col-xs-12 actions text-center">
        <%= f.submit 'Submit' %>
      </div>
    </div>

      </form>
        <% end %>
  </div>
</div>


