<div class="container text-center">
<div class="row">
<br>
<br>
<br>
<h3 id="notice"><%= notice %></h3>

<h3>
  <strong>Name:</strong>
  <%= @user.name %>
</h3>

<h3>
  <strong>Company:</strong>
  <%= @user.company %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>

<h3>
  <strong>Phone:</strong>
  <%= @user.phone %>
</h3>

<strong><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home', root_path %> </strong>
</div>
</div>