<!DOCTYPE html>
<html>
<head>
  <title>Wes Rodgers | Full Stack Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id="home">
<div class="container">
  <nav data-scroll-header class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-lg">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-brand-text"  data-scroll data-options='{"easing":"easeInOutQuad"}' href="#home"><img class="" src="" name="" id="" class="" alt="" title="">Wes Rodgers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                  <li><a data-scroll data-options='{"easing":"easeInOutQuad"}' href="#about">About</a></li>
                  <!-- <li><a data-scroll data-options='{"easing":"easeInOutQuad"}' class="" href="#technologies">Technologies</a></li> -->
                  <li><a data-scroll data-options='{"easing":"easeInOutQuad"}' class="" href="#portfolio">Portfolio</a></li>
                  <li><a data-scroll data-options='{"easing":"easeInOutQuad"}' class="" href="#contact">Contact</a></li>
                 <!--  <li><a href="#blog">Blog</a></li> -->
                </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>
<div class="hdr-wrapper hdr-image">
  <div class="container text-center my-title">
    <div class="row">
      <div class="col-xs-12">
        <!-- <h1>Full Stack Developer</h1> -->
      </div>
    </div>
  </div>

</div>
<div class="main-content" id="about">
  <div class="container-fluid text-center">
    <div class="row technologies" data-midnight="navbar-blue">
      <div class="col-xs-12">
        <img src="<%=asset_path 'wes_rodgers_profile.jpg' %>" alt="" class="about-me-image ">
        <h1>Wes Rodgers</h1>
        <h4>Full Stack Developer</h4>
        <h4>Front End Tendencies</h4>
        <h4>Teammate</h4>
        <h4>LA Native</h4>
        <h4>Husband/Father</h4>
        <h4>Musician</h4>
      </div>
    </div>
  <!--   <div class="row overlay">
      <div class="col-xs-12">
      </div>
    </div>
    <div id="technologies" class="row about-me-wrapper" data-midnight="navbar-black">
      <div class="col-xs-12 ">
        <h1>Technologies</h1>
      </div>
      <div class="col-xs-12 col-sm-2"><img src="<%=asset_path 'html5.png' %>" class="img-responsive" alt=""></div>
      <div class="col-xs-12 col-sm-2"><img src="<%=asset_path 'css3.png' %>" class="img-responsive" alt=""></div>
      <div class="col-xs-12 col-sm-2"><img src="<%=asset_path 'js.png'%>" class="img-responsive" alt=""></div>

    </div> -->
    <div class="row overlay">
      <div class="col-xs-12">
      </div>
    </div>
    <div id="portfolio" class="row" data-midnight="navbar-light-grey">
      <div class="col-xs-12">
        <h1>portfolio</h1>
      </div>
    </div>
    <div class="row portfolio-1" data-midnight="navbar-light-grey">
      <div class="col-xs-12 col-sm-6">
          <a href="http://www.shredzilla.me"><img src="<%=asset_path 'shredzilla-main.jpg' %>" class="img-responsive" alt=""></a>
      </div>
        <div class="col-xs-12 col-sm-6 text-center">
          <h1>Shredzilla</h1>
          <h4>A fitness challenge app that tracks your progress through the 8-week Shredzilla workout program.</h4>
          <ul class="list-unstyled">
            <li><a href="" class="btn btn-primary btn-sm">Ruby on Rails</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Javascript</a></li>
            <li><a href="" class="btn btn-primary btn-sm">jQuery</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Bootstrap</a></li>
            <li><a href="" class="btn btn-primary btn-sm">PostgreSQL</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Facebook API</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Twitter API</a></li>
          </ul>
      </div>
    </div>
    <div class="row portfolio-2" data-midnight="navbar-white">
       <div class="col-xs-12 col-sm-6">
          <a href="http://grub1out.herokuapp.com"><img src="<%=asset_path 'grub1out-main.jpg' %>" class="img-responsive" alt=""></a>
      </div>
        <div class="col-xs-12 col-sm-6 text-center">
          <h1>Grub1Out</h1>
          <h4>A food platform app that gives restaurant owners a place to easily promote their business.</h4>
          <ul class="list-unstyled">
            <li><a href="" class="btn btn-primary btn-sm">Ruby on Rails</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Javascript</a></li>
            <li><a href="" class="btn btn-primary btn-sm">jQuery</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Bootstrap</a></li>
            <li><a href="" class="btn btn-primary btn-sm">CSS3</a></li>
            <li><a href="" class="btn btn-primary btn-sm">PostgreSQL</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Facebook API</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Twitter API</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Yelp API</a></li>
          </ul>
      </div>
    </div>
    <div class="row portfolio-3" data-midnight="navbar-grey">
       <div class="col-xs-12 col-sm-6">
          <a href="http://westttapp.firebaseapp.com"><img src="<%=asset_path 'tic-tac-toe-main.jpg' %>" class="img-responsive" alt=""></a>
      </div>
        <div class="col-xs-12 col-sm-6 text-center">
          <h1>just Tic Tac Toe</h1>
          <h4>The classic game we love and adore, live over the web.</h4>
          <ul class="list-unstyled">
            <li><a href="" class="btn btn-primary btn-sm">Angular.js</a></li>
            <li><a href="" class="btn btn-primary btn-sm">HTML</a></li>
            <li><a href="" class="btn btn-primary btn-sm">CSS3</a></li>
            <li><a href="" class="btn btn-primary btn-sm">Firebase</a></li>
          </ul>
      </div>
    </div>
    <div class="row overlay">
      <div class="col-xs-12">
      </div>
    </div>

    <div id="contact" class="row contact-wrapper">
      <div class="col-xs-12 col-sm-6">

        <p>email: <a href="mailto:wes@wesrodgers.io">wes@wesrodgers.io</a></p>
        <p>phone: <a href="tel:3238549438">323.854.9438</a></p>
        <p>resume: <a href="https://drive.google.com/open?id=0B2cbQ3kZiU3dZEd0NjctZlpacUE" target="_blank">Word Doc</a> || <a href="https://drive.google.com/open?id=0B2cbQ3kZiU3dUm9Kd3NaVmtVVG8" target="_blank">PDF</a></p>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/wesrodgers"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/wesr7"><i class="fa fa-github"></i></a></li>
        </ul>

      </div>
    </div>


    <div class="row footer">
      <div class="col-xs-12">
          <p>Wes Rodgers // 2015</p>
      </div>
    </div>
  </div>
</div>






 <%= yield %>
</body>

<script>

// Start midnight
$(document).ready(function(){
  $('.navbar-fixed-top').midnight();
});
 smoothScroll.init();

// $(document).ready(function(){
//     setTop();
// });

// $(window).resize(function(){
//   setTop();

// });

</script>
</html>
